body {
    background-color: #ffffff;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
}

#container {
    margin: 0 15% 0 15%;
    width: 70%
}

#header {
    font-size: 65px;
    margin-bottom: 20px;
}

#fixed {
    background-color: #eee;
    position: fixed;
    display: inline-block;
    text-align: center;
    height: 10%;
    width: 15%;
    top: 0px;
    left: 0px;
    padding: 20px;
}

#relative {
    position: relative;
    background-color: #eee;
    text-align: center;
    height: 300px;
    width: 500px;
    top: 15%;
    bottom: 60%;
    left: 10%;
    padding: 20px;
}

#absolute {
    position: absolute;
    background-color: #999;
    text-align: center;
    height: 30%;
    width: 40%;
    bottom: 0px;
    right: -20px;
    padding: 20px;
}